// Variables
$header-padding-y: 0.625rem;
$header-padding-x: 1.25rem;
$logo-padding-y: 0.625rem;
$logo-padding-x: 0.3125rem;
$search-margin-left: 0.625rem;
$search-padding-y: 0.3125rem;
$search-padding-x: 0.625rem;
$menu-email-padding: 0.625rem;
$bg-color: #2364ad;
$padding-bottom: 0.625rem;

.header {
  display: flex;
  flex-wrap: wrap; // Allow items to wrap to the next line if needed
  padding: $header-padding-y $header-padding-x;
  background-color: $bg-color;
  color: white;

  .logo {
    font-size: 0;
    padding: $logo-padding-y $logo-padding-x;
    position: relative;
    width: 20%; // Adjust width as needed

    img {
      height: 4.9rem; // Adjust height as needed
      width: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-50%);
      width: 0.025rem;
      height: 100%;
      background-color: rgb(196, 196, 196);
    }
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(196, 196, 196);
   
  }

  .header-list li {
    margin-right: 1rem;
  }

  .header-list li.toldfree {
    white-space: nowrap;
  }

  .header-list li.search input {
    margin-left: 0.625rem;
  }

  
 
  .toldfree {
    padding: 10px; 
    background-color: #2a3f8f; 
    border-radius: 5px; 
  }
  
  
  
  .toldfree span a {
    color: #ffffff; 
    text-decoration: none; 
    margin-right: 5px; 
  }
  
  .search {
    display: flex;
    align-items: center;

    input {
      margin-left: $search-margin-left;
      padding: $search-padding-y $search-padding-x;
      border: none;
      border-radius: 0.3125rem;

      &::placeholder {
        color: #ccc;
      }
    }
  }
  .menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    margin-right: 0.3rem;
  }

  .menu,
  .email,
  .font-resizer,
  .language {
    padding: $menu-email-padding;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  @media screen and (min-width: 48rem) {
    .logo {
      width: 13%; // Adjust width as needed for larger screens
    }

    .flex-row {
      width: 86%; // Adjust width as needed for larger screens
    }
  }
}
